version: "3.8"
services:
  backend:
    build: ./backend
    container_name: flaskp_backend
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: flaskp_frontend
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://backend:5000/submit
    depends_on:
      - backend
    restart: unless-stopped

networks:
  default:
    driver: bridge